
.index {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #d9d9d9;
  .addonBefore {
    padding: 0 5px;
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(245,245,245,1);
  }
  .inputSelf {
    width: 100%;
  }
  .addonAfter {
    padding: 0 5px;
    flex: 0 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(245,245,245,1);
  }
}